.contentBox {
    background-color: rgba(255, 255, 255 0.6);
    border-style: solid;
    border-width: 2px;
    border-color: darkorange;
    margin: 10px 10px;
    padding: 10px 10px;
}

.contentThumb {
    height: 400px;
    width: auto;   
}